<div class="panel-body">
  <div class="row no-marginb">
    <div class="col-md-12">
      <%= label_tag  Spree.t("promotion_rule_types.total_quantity.label") %>
    </div>
    <div class="form-group col-md-6 no-marginb">
      <%= select_tag "#{param_prefix}[preferred_operator_min]",
                      options_for_select(Spree::Promotion::Rules::TotalQuantity::OPERATORS_MIN.map{|o| [Spree.t("promotion_rule_types.total_quantity.operators.#{o}"),o]}, promotion_rule.preferred_operator_min),
                      { class: 'select2 select_total_quantity marginb' }
      %>
      <%= select_tag "#{param_prefix}[preferred_operator_max]",
                      options_for_select(Spree::Promotion::Rules::TotalQuantity::OPERATORS_MAX.map{|o| [Spree.t("promotion_rule_types.total_quantity.operators.#{o}"),o]}, promotion_rule.preferred_operator_max),
                      { class: 'select2 select_total_quantity' }
      %>
    </div>
    <div class="form-group col-md-6 no-marginb">
      <%= text_field_tag "#{param_prefix}[preferred_amount_min]", promotion_rule.preferred_amount_min, class: 'form-control marginb' %>
      <%= text_field_tag "#{param_prefix}[preferred_amount_max]", promotion_rule.preferred_amount_max, class: 'form-control' %>
    </div>
  </div>
</div>
