<div class="panel-body">
  <div class="form-group roles_rule_role">
    <% @roles = Spree::Role.all %>
    <%= label_tag "#{param_prefix}_role_id_string", Spree.t('user_roles_includes_rule.choose_role') %>

    <%= select_tag "#{param_prefix}[preferred_role_id]",
                    options_for_select(@roles.map{|r| [r.name, r.id]}, promotion_rule.preferred_role_id),
                    { class: 'select2 select_total_quantity' }
    %>
  </div>
</div>
