<div class="panel-body">

  <div class="row">
    <div class="form-group col-xs-12 col-md-6 no-marginb">
      <% field_name = "#{param_prefix}[calculator_type]" %>
      <%= label_tag field_name, Spree.t(:calculator) %>
      <%= select_tag field_name,
                    options_from_collection_for_select(Spree::Promotion::Actions::CreateItemAdjustments.calculators, :to_s, :description, promotion_action.calculator.type),
                    class: 'type-select select2' %>
    </div>
    <% unless promotion_action.new_record? %>
      <div class="form-group col-xs-12 col-md-6 no-marginb settings">
        <% promotion_action.calculator.preferences.keys.map do |key| %>
          <% field_name = "#{param_prefix}[calculator_attributes][preferred_#{key}]" %>
          <%= label_tag field_name, Spree.t(key.to_s) %>
          <%= preference_field_tag(field_name,
                                   promotion_action.calculator.get_preference(key),
                                   type: promotion_action.calculator.preference_type(key)) %>
        <% end %>
        <%= hidden_field_tag "#{param_prefix}[calculator_attributes][id]", promotion_action.calculator.id %>
      </div>
    <% end %>
  </div>
  <% if promotion_action.calculator.respond_to?(:preferences) %>
    <div class="alert alert-info js-warning margint no-marginb">
      <%= Spree.t(:calculator_settings_warning) %>
    </div>
  <% end %>

  <div class="row no-marbinb"
    <div class="form_group col-xs-12 no-margin">
      <%= label_tag :taxon_ids, Spree.t(:excluded_taxons) %>

      <%= select_tag "#{param_prefix}[taxon_ids]", options_from_collection_for_select(Spree::Taxon.all, 'id', 'name', selected: promotion_action.taxon_ids),
          {
            multiple: true,
            id: 'promotion_action_taxon_ids',
            class: 'select2'
          }
      %>
    </div>
  </div>
</div>
